* {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Verdana, sans-serif;
}

img {
  vertical-align: middle;
}

main div {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 1em;
}

main a {
  color: blue;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: teal;
  color: white;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
}

.logo a {
  color: white;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 16px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
  list-style: none;
}

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 1080px) {
  
  .logo {
    font-size: 24px;
  }
  
  .menu {
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    text-align: center;
    padding: 16px 0;
    opacity: 100%;
    width: 200px;
  }
  
  .menu li {
    background-color: teal;
    display: inline-block;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
  } 

  input[type=checkbox]:checked ~ .menu {
    transition: 1s ease;
    display: block;
    z-index: 20;
  }

  .hamburger {
    display: block;
  }
}

.footing {
  background-color: teal;
  display: fixed;
  bottom: 0;
}

.footing p {
  display: inline-block;
  color: white;
}

.footing a {
  color: blue;
}

/* news context */
.n-title h2, .n-title h3, .n-title p {
  display: inline-block;
  color: teal;
}

.n-title h3 {
  text-align: right;
}

@media (max-width: 400px) {
  .n-title h1 {
    font-size: 8vw;
  }
}
